@charset 'utf-8';
@import "reset.scss";

#swiper{
    width: 100%; height: 100vh;
    position: relative;
    background: #fff;
    overflow: hidden;

    .swiper-wrapper{
        width: 100%; height: 100%;

        .swiper-slide{
            width: 60vw; height: 60vh;
            position: relative;
            top: 20vh;

            .inner{
                width: 100%; height: 100%;
                border: 1px solid #fff;
                background: rgba(255,255,255, 0.5);
                padding: 60px;
                font: bold 40px/1 'lato';
                color: #999;
                backdrop-filter: blur(10px);
                opacity: 0.5;
                transition: opacity 1s;

                &.swiper-slide-active .inner{
                    opacity: 1;
                }
            }
        }
    }
}